<div class="bg-white rounded-lg border border-gray-300 shadow-lg p-8 relative">
  <h3 class="text-xl font-semibold text-gray-800">{{title}}</h3>
  <div class="text-gray-600 mt-4">
    <ng-content></ng-content>
  </div>

  <!-- Overlay Loader -->
  <div [class.invisible]="!loading"
       class="absolute inset-0 bg-gray-900/50 rounded-lg flex items-center justify-center pointer-events-auto z-50">
    <div
      class="w-16 h-16 border-4 border-white border-t-transparent rounded-full animate-spin pointer-events-auto"></div>
  </div>

</div>
